
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1f242d;
}
a{
    color: white;
}
.navbar{
    /* position: fixed; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    top: 0;
    padding: 25px 9%;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: content 1.5s  1s  linear forwards;
}

@keyframes content {
    100%{
        visibility: visible;
        opacity: 1;
    }
}
.navbar >.logo{
    font-size: 30px;
    font-weight: 700;
}

.navbar ul{
    display: flex;
}
@media screen and (max-width: 700px) {
    .navbar ul{
        flex-wrap: wrap; 
        
    }
}

.navbar ul li{
    list-style: none;
    margin-left:35px ;
}
.navbar ul li a:hover,
.navbar ul li a.active{
    color: #7cf03d;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    transition: .5s;
}


.home{
    display: flex; 
    height: 120vh;
    align-items: center;
    padding: 60px 9% 0;
    color: white;
    visibility: hidden;
    opacity: 0;
    animation: content 1.5s  1s  linear forwards; 

}
@media screen  and (max-width: 517px) {
    .home{
        flex-wrap: wrap;
    }
}

.home-intro h1{
    font-size: 55px;
}
.home-intro h2{
    font-size: 32px;
    margin: -8px;
}
.home-intro p{
    font-size: 17px;
    margin: 10px 0 25px;
    text-align: justify;
}
.home-intro .media{
    display: flex;
    align-items: center;
}

.home-intro .btn{
    display: inline-block;
    padding: 10px 30px;
    background-color: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 45px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    text-decoration: none;
    transition: .5s;
}
.home-intro .btn:hover{
    background-color: transparent;
    color: #7cf03d;
    box-shadow: none;
}

.home-intro .media .icon{
    margin-left: 20px;
    display: inline-flex;
}
@media screen and (max-width: 1092px) {
    .home-intro .media .icon{
        flex-wrap: wrap;
    }
    .home-intro .media .icon .icons{
        padding: 2px 0px;
    }
}

.home-intro .media .icon .icons{
    display: inline-flex;
    margin-left: 15px;
}
.home-intro .media .icon .icons .bx{
    padding-top: 3px;
    justify-content: center;
    text-align: center;
    width: 30px;
    
}
.home-intro .media .icon .icons a{
    border: 2px solid #7cf03d;
    border-radius: 50%;
    /* width: auto; */
    padding: 5px;
    display: inline-flex;
    font-size: 20px;
    margin: 0 3px;
    color: #7cf03d;
    transition: .5s;
    
}


@media screen and (max-width: 300px) {
    .home-intro .media .icon .icons a:nth-child(2) {
        display: none;
    }
}

.home-intro .media .icon .icons a:nth-child(2) {
    border-radius: 5px;
}

.home-intro .media .icon a:hover{
    background-color: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px;
}

.home-intro .media .icon .qr{
    width: 30px;
    height: 30px;
    
}


.home>.pic{
    margin-left: 35px;
}

.pic .pic-box{
    position: relative;
    height: 32vw;
    width: 32vw;
    border-radius: 50%;
    /* background-color: red; */
    padding: 8px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.pic .pic-box::before,
.pic .pic-box::after{
   content: '';
   position: absolute;
   width: 650px;
   height: 600px; 
   background: conic-gradient(transparent, transparent,transparent,#327a0c);
   transform: rotate(0deg);
   animation: border 10s linear infinite;
}
.pic .pic-box::after{
    animation-delay: -5s;
}
@keyframes border {
    100%{
        transform: rotate(360deg);

    }
}

.pic .pic-box .pic-design{
    position: relative;
    width: 100%;
    height: 100%;
    /* background: slateblue; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    
}

.pic .pic-box .pic-design img{
    position: absolute;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 50%;
    /* mix-blend-mode: color-dodge; */
    /* top: 30px; */



}
/* animation on background */
.bar-animation{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}
.bar-animation .bar{
   width: 100%;
   height: 100%;
   background: #1f242d; 
   transform: translateY(-100%);
   animation: show .5s ease-in-out forwards;
}
@keyframes show{
    100%{
        transform: translateY(0%);
        
    }
}


.sepration{
    height: 0.25rem;
    width: 100%;
    background-color:rgb(0, 255, 76);
}

/* .service{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 80px 20px;
    justify-content: center;
    text-align: center;
} */
/* services section started */
.service-sec{
    background-color: azure;
    height: auto;
    justify-content: center;
    
}

.service {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns by default */
    gap: 20px; 
    padding: 50px 20px;
    text-align: center;
    
}
@media screen and (max-width: 1024px) {
    .service {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media screen and (max-width: 768px) {
    .service {
        grid-template-columns: 1fr; 
    }
}

.service >.web,.chatbotservice,.logoservice,.qrservice{
    padding: 20px 20px;
    background-color: #ffffff80;
    border: 1px solid rgb(204, 203, 203);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 7%;
    /* margin: 0px 5px; */
    justify-content: center;
    text-align: center;
}
.service > .web, 
.service > .chatbotservice, 
.service > .logoservice, 
.service > .qrservice,
.service h3 {
    margin-top: 28px;
    text-align: center;
}
.service > .web, 
.service > .chatbotservice, 
.service > .logoservice, 
.service > .qrservice,
.service p {
    margin-top: 24px;
    text-align: justify;
    /* padding-bottom: 4px; */
}

.service .serviceimg-section{
    margin-top: 50px;
    margin-bottom: 30px;
    
}
.service .serviceimg-section img{
    max-width: 100%;
    height: auto;
    border-radius: 5%;
    display: block;
    /* margin: 0 auto; */
    
}

/* .service .serviceimg-section .qrservice-img img{
    height: 40px;
} */
/* footer  */
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 150px;
    text-align: center;
    padding: 50px 10px;
    
}
@media screen and (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr; 
    }
}

.chatbot iframe{
    height: 350px;
    width: 70%;
    border: none;
    padding-top: 2px;
}
.thankyou{
display: flex;
flex-direction: column;
gap: 15px;
margin-top: 120px;
color: aliceblue;
font-size: 17;
}

.contact-link {
    color: #2188f1; /* Blue color for email links */
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline; /* Underline on hover */
}